html, body{
    background-color: rgb(31, 31, 31);
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#gridContainer{
    height: 500px;
    width: 500px;
    display: inline-block;
    border: solid goldenrod 3px;
}

.gridElementFloat{
    float: left;
     transition: all 0.3s;
}

#buttonContainer{
    padding: 20px;
}

#buttonContainer button{
    margin: 0px 10px;
}

.sectionDivider{
    background-color: goldenrod;
    height: 20px;
    margin: 10px 0px;
}

#header{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
}

button{
    border: solid goldenrod 3px;
    border-radius: 5px;
    background-color: white;
}

button:focus{
    outline: none;
}

button:hover{
    border: solid rgb(255, 194, 39) 3px;
    box-shadow: 0px 0px 8px 1px goldenrod;
}